services:
#  zookeeper:
#    image: confluentinc/cp-zookeeper:7.4.0
#    container_name: zookeeper
#    environment:
#      ZOOKEEPER_CLIENT_PORT: 2181
#      ZOOKEEPER_TICK_TIME: 2000
#    ports:
#      - "2181:2181"
#
#  kafka:
#    image: confluentinc/cp-kafka:7.4.0
#    container_name: kafka
#    depends_on:
#      - zookeeper
#    ports:
#      - "9092:9092"
#    environment:
#      KAFKA_BROKER_ID: 1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:9093
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
#      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#
#  kafka-ui:
#    image: provectuslabs/kafka-ui:latest
#    container_name: kafka-ui
#    depends_on:
#      - kafka
#    ports:
#      - "8080:8080"
#    environment:
#      KAFKA_CLUSTERS_0_NAME: local
#      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
#      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

  db:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: tasktracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1363
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: tasktracker-app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:1363@db:5432/tasktracker
#      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_BOOTSTRAP_SERVERS=external-kafka-host:9092
      - KAFKA_TOPIC=tinode.account-events
      - KAFKA_GROUP_ID=fastapi-user-sync-consumer
    depends_on:
      db:
        condition: service_healthy
#      kafka:
#        condition: service_started
    volumes:
      - ./docs:/app/docs
      - ./logs:/app/logs
    command: >
      sh -c "echo 'Waiting for services to be ready...' &&
             sleep 25 &&
             echo 'Starting FastAPI...' &&
             uvicorn main:app --host 0.0.0.0 --port 8000"


volumes:
  postgres_data: